@require './colors.styl'

$font-family = 'Proxima Nova', Arial, Verdana, sans-serif
$widgetbackground = #f3f3f3

h1
  color $actanoBlue

  form
    display inline-block
    input
      border none
      font 60% / 125% $font-family normal
      height 2.1rem
      padding 0.4rem
      color $colorText
      vertical-align text-bottom
