@require './colors.styl'

$font-family = 'Proxima Nova', Arial, Verdana, sans-serif
$widgetbackground = #f3f3f3

h1
  font normal 140% / 125% $font-family
  color $actanoBlue

  input
    border none
    font 60% / 125% $font-family normal
    padding 0.4rem
    color $colorText
    vertical-align text-bottom
