{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "sourceMaps": "both",
  "plugins": [
    [
      "system-import-transformer",
      {
        "modules": "common"
      }
    ]
  ]
}
