$actanoBlue = #1a76d6

$colorText = #333333

$colorAvailable = $actanoBlue
$colorAbsent = #da777b
$colorAway = #faf0a6
$colorSelected = #78aad6
$colorHoliday = alpha(gray, 0.2)

$colorWeekEven = lightgray
$colorWeekOdd = white
$colorToday = gray

$widgetbackground = #f3f3f3
$teambackground = white
$font-family = 'Proxima Nova', Arial, Verdana, sans-serif

$memberwidth = 27rem
$border = 1px solid $teambackground

$daySize = 17px
$avatarSize = 40px

striped(color, direction = -45deg)
    repeating-linear-gradient(direction, color 0, color 4px, transparent 4px, transparent 8px)

html
    font 73% / 125% $font-family normal
    color $colorText

html, *
    box-sizing border-box
body
    background-color $widgetbackground
    &.framed
        margin 0
        h1
            display none
ul.teams
    display flex
    flex-wrap wrap
    justify-content space-around
    margin 0

    li.team
        background-color $teambackground
        margin-bottom 2rem
        overflow hidden

table
    border-collapse collapse
    col.weekEven
        background alpha(#000, 0.01)
    col.weekOdd
        background alpha(#000, 0.05)
    col.today
        background alpha(#080, 0.2)

    thead
        th
            text-align center

    tbody
        tr
            border-bottom 2px solid transparent

        tr.selected th span
            font-weight bold
            text-decoration underline

        tr.absent
            background-color alpha($colorAbsent, 0.2)

            th img
              opacity 0.3

        tr.away
            background-color alpha($colorAway, 0.2)

        th
            text-align left
            font-weight normal
            padding 0
            position relative

            img
                display block
                width $avatarSize
                height @height

            // span for member name at head
            span
                position absolute
                left (2px + $avatarSize)
                top 2px
                width 200px
                text-shadow 1px 1px 2px white
        td
            vertical-align bottom
            padding 0 1px

            span
                display block
                height $daySize
                width @height
                margin-bottom 4px

                // Span for the member name INSIDE of today box
                span
                  display none

            &:not(.today) span
                opacity 0.2

.status
    background-color $colorAvailable
    &.absent
    &.public-holiday
        color darkslategray
        text-decoration line-through
        background-color $colorAbsent
    &.public-holiday
        background-image striped($colorHoliday)
    &.away
        background-color $colorAway
    &.awayPartial
        background-image striped($colorAway)

h1
    color $actanoBlue

.headline
    margin 0
    font-size 150%
    padding 0.6rem
    display flex
    vertical-align middle
    justify-content space-between
    align-items baseline
    small
        font-weight normal
    time
        font-weight normal
        font-size 1rem
        color #999

.summary
    font-size 100%
    height auto
    div
        font-weight normal
        padding 0.3rem
            
    div
        display flex
        justify-content space-between


h2 
    margin 0.3rem 0
    &.error
        background-color #7d0000
        color #fff
        font-size 100%
        vertical-align baseline
        border $border
        line-height 1.6
        padding 0.3rem
        position relative
        width $memberwidth
        text-align center
        margin-left 0
ul
    list-style none
    padding 0

form
    display inline-block
    input
        border none
        font 60% / 125% $font-family normal
        height 2.1rem
        padding 0.4rem
        color $colorText
        vertical-align text-bottom


